@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: normal;
  }
}

/* custom css */
.bar {
  margin: 0 0.375rem;
}
.footer-button {
  border: 0.1rem solid #e6e6e6;
  cursor: pointer;
}
.footer-button:hover {
  border: 0.1rem solid #616161;
  cursor: pointer;
}
